html {
	color: #222;
	background: #fff;
	transition: 0.2s filter linear;
}

html.night {
	background: #ddd;
	filter: invert(1);
}

body {
	font: min(1.8vw, 1.8vh) 'Segoe UI','Helvetica','Arial';
}

a {
	color: #59f;
}

h3 {
	margin: 20px 0 4px 0;
}

input, select, textarea, button {
	color: #222;
	font: min(1.8vw, 1.8vh) 'Julia';
}

input {
	width: min(18vw, 18vh);
	text-overflow: ellipsis;
}

#theme {
	user-select: none;
	cursor: pointer;
	position: fixed;
	padding: 4px 8px;
	right: 0;
	top: 0;
}

.params {
	width: min(80vw, 80vh);
}

.dir-td {
	position: relative;
}
#dir {
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-size: 50%;
}

#mode-img {
	transition: 0.2s filter linear;
	filter: drop-shadow(2px 4px 6px #222);
	background: 10px center / contain no-repeat;
	position: relative;
	width: 99%;
	translate: 0 -6px;
}
.night #mode-img {
	filter: drop-shadow(2px 4px 6px #f50);
}
#mode-img.mode-CBC-Decryption {
	background-image: url("modes/CBC_decryption.min.svg");
}
#mode-img.mode-ECB-Decryption {
	background-image: url("modes/ECB_decryption.min.svg");
}
#mode-img.mode-CTR-Decryption {
	background-image: url("modes/CTR_decryption.min.svg");
}
#mode-img.mode-OFB-Decryption {
	background-image: url("modes/OFB_decryption.min.svg");
}
#mode-img.mode-CFB-Decryption {
	background-image: url("modes/CFB_decryption.min.svg");
}
#mode-img.mode-CBC-Encryption {
	background-image: url("modes/CBC_encryption.min.svg");
}
#mode-img.mode-ECB-Encryption {
	background-image: url("modes/ECB_encryption.min.svg");
}
#mode-img.mode-CTR-Encryption {
	background-image: url("modes/CTR_encryption.min.svg");
}
#mode-img.mode-OFB-Encryption {
	background-image: url("modes/OFB_encryption.min.svg");
}
#mode-img.mode-CFB-Encryption {
	background-image: url("modes/CFB_encryption.min.svg");
}

.xed.decrypt .xed-load {
	display: none;
}

.xor {
	opacity: 0.5;
}
.xor:has(textarea:focus) {
	opacity: 1;
}
.grayed, .grayed textarea {
	color: #777;
}

#result {
	transition: 0.2s filter linear;
	font: min(1.8vw, 1.8vh)/1em 'Julia';
	width: min(80vw, 78vh);
	resize: none;
	border: 1px dotted #bbb;
}
#result:focus {
	outline: transparent !important;
}
.night #result {
	filter: hue-rotate(180deg);
}
#result.error {
	color: red;
}
#result.success {
	color: green;
}

.note {
	font-size: 70%;
	font-style: italic;
	max-width: min(80vw, 80vh);
	text-align: justify;
}
.copy {
	position: fixed;
	font-size: 70%;
	bottom: 8px;
	right: 8px;
}
